[Desktop Entry]
Name=CEVA-Toolbox IDE
GenericName=CEVA-Toolbox IDE
Comment=CEVA-Toolbox IDE
Exec=/opt/ceva-toolbox/x86_64/16.1.0/toolbox/toolbox
Icon=/opt/ceva-toolbox/x86_64/16.1.0/toolbox/icon.xpm
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;
Version=1.0
X-Desktop-File-Install-Version=0.22
