[Desktop Entry]
Name=Matlab 2014B
GenericName=Matlab 2014B
Comment=Matlab 2014B
Exec=/opt/matlab/x86_64/2014b/bin/matlab -desktop
Icon=/usr/share/icons/matlab.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;
Version=1.0
X-Desktop-File-Install-Version=0.22
